<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tactical Traps</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/ui/transactions-created">Transactions: Created</a>
      <a class="nav-item nav-link" href="/ui/transactions-processed">Transactions: Processed</a>
      <a class="nav-item nav-link" href="/ui/transactions-issues">Transactions: Issues</a>
      <a class="nav-item nav-link" href="/ui/products">Products</a>
      <a class="nav-item nav-link" href="/ui/grouping">Grouping</a>
      <a class="nav-item nav-link" href="/ui/logout">Logout</a>
    </div>
  </div>
</nav>
