<!DOCTYPE html>
<html lang="en">
<head>
  {{> header }}
  <title>New group</title>
</head>
<body>
{{> menu }}
<div class="container">
<form method="post" action="/grouping/">
  <div class="form-group">
    <label for="inputGroupName">Group name</label>
    <input type="text" class="form-control" id="inputGroupName" aria-describedby="GroupNameHelp"
           placeholder="Group name" required name="name">
    <small id="groupNameHelp" class="form-text text-muted">Please enter group name.</small>
  </div>
  <div class="form-group">
    <label for="inputProductNameGlobName">Product Name Glob</label>
    <input type="text" class="form-control" id="inputProductNameGlobName" aria-describedby="ProductNameGlobNameHelp"
           placeholder="Product Name Glob" required name="productNameGlob" value="*">
    <small id="productNameGlobHelp" class="form-text text-muted">Please enter Product Name Glob.</small>
  </div>
  <div class="form-group">
    <label for="inputProductSkuGlob">Product Sku Glob</label>
    <input type="text" class="form-control" id="inputProductSkuGlob" aria-describedby="ProductSkuGlobHelp"
           placeholder="Product Sku Glob" required name="productSkuGlob" value="*">
    <small id="productSkuGlobHelp" class="form-text text-muted">Please enter Product Sku Glob.</small>
  </div>
  <div class="form-group">
    <label for="inputCustomName">Custom Name</label>
    <input type="text" class="form-control" id="inputCustomName" aria-describedby="CustomNameHelp"
           placeholder="Custom Name" name="customName">
    <small id="customNameHelp" class="form-text text-muted">Please enter Custom Name.</small>
  </div>
  <div class="form-group">
    <label for="selectFieldName">Field Name</label>
    <select class="form-control" id="selectFieldName" aria-describedby="fieldNameHelp"
            name="fieldName">
      <option selected>customField1</option>
      <option>customField2</option>
      <option>customField3</option>
    </select>
    <small id="fieldNameHelp" class="form-text text-muted">Please select advanced options field name.</small>
  </div>
  <div class="form-group">
    <label for="inputInsuranceValue">Group insurance</label>
    <input type="number" class="form-control" id="inputInsuranceValue" aria-describedby="groupInsuranceHelp"
           placeholder="Group insurance" name="insuranceValue">
    <small id="groupInsuranceHelp" class="form-text text-muted">Please enter group insurance.</small>
  </div>
  <button type="submit" class="btn btn-primary">Create new Group</button>
</form>
</div>
</body>
</html>
